/* PRODUCT PAGE  */
#products_section {
  margin-top: 2rem;
  padding: 1rem 0;
}

#products_section h2 {
  text-align: center;
}

.display_options {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-evenly;
}

#category {
  position: relative;
}

#display_type {
  display: none;
}
#display_type div {
  display: inline-block;
  border: 1px solid #096c62;
  padding: 0.15rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
}

@media only screen and (min-width: 768px) {
  .display_options {
    gap: 2rem;
    flex-direction: row;
  }

  #display_type {
    display: block;
  }
}

.display_options label {
  color: #777777;
}

.display_options div input {
  border: 1px solid #096c62;
  color: #096c62;
  min-width: 233px;
  width: 100%;
  overflow: scroll;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.select_wrapper {
  position: relative;
}

.select_wrapper input,
.select_wrapper i {
  outline: none;
  position: absolute;
}

.select_wrapper i {
  color: #096c62;
  top: 0.8rem;
  right: 1rem;
}

.display_options ul li {
  z-index: 100;
  color: #000;
  list-style: none;
  padding: 0 0.5rem;
  cursor: pointer;
  user-select: none;
  margin-left: -2rem;
  padding: 1rem;
}

.display_options ul {
  border-left: 1px solid #096c62;
  border-right: 1px solid #096c62;
  border-bottom: 1px solid #096c62;
  border-radius: 0 0 0.5rem 0.5rem;
  margin-top: 2.5rem;
  display: none;
}

.display_options ul li:last-child {
  border-radius: inherit;
}

.display_options ul li:hover {
  color: white;
  background: #096c62;
}

.ratings {
  display: flex;
  gap: 1rem;
}

.caret {
  cursor: pointer;
}

.active_page {
  display: none;
}

.product_items_container {
  margin: 5rem 0;
  display: grid;
}

@media only screen and (min-width: 768px) {
  .product_items_container {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 1100px) {
  .product_items_container {
    grid-template-columns: auto auto auto auto;
  }
}

.product_item {
  padding: 1rem;
}

.product_item > div:first-of-type {
  display: flex;
  justify-content: center;
}

.product_item img {
  width: 15rem;
  height: 15rem;
}

.product_item:hover {
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.284);
  border-radius: 0.2rem;
}

.text {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stars i {
  color: rgba(129, 129, 129, 0.504);
}

.text a {
  font-size: 1.2rem;
  color: #252525;
  text-decoration: none;
  font-weight: 600;
}

.text a:first-of-type:hover {
  text-decoration: underline;
}

.text a:last-of-type {
  font-weight: 300;
  align-self: center;
}
