::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Taviraj", serif;
}

nav {
  position: relative;
}

.navbar {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 16px;
  padding: 10px 50px 10px 20px;
}

.logo {
  display: inline-block;
}

.logo img {
  max-width: 200px;
}

.nav-link:hover {
  border-bottom: 3px solid #096c62;
}

.dropdown-menu:hover {
  opacity: 1;
}

.dropdown-menu {
  opacity: 0;
  display: flex;
  width: 100%;
  position: absolute;
  background-color: #f9f9f9;
  /* top: 100%; */
  left: 0;
  padding: 3% 5%;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  height: 200px;
  flex-direction: row;
  border-radius: 0;
  border: 0;
  pointer-events: none;
}

.nav-item:hover .dropdown-menu {
  opacity: 1;
  pointer-events: all;
}

.menu-options {
  margin-left: 20%;
}

.options {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
  color: #000;
}

.options li {
  margin-bottom: 10px;
  width: 300px;
}

.options li a {
  text-decoration: none;
  color: #000;
  transition-duration: 300ms;
}
.options li a:hover {
  font-size: 1.2rem;
  color: #096c62;
}

div .col {
  padding: 0;
}

/* WAY KAMBAS MINI EBONY STARTS HERE */

.sect_2{
  width: 100%;
  height: 100vh;
}
.sect_2 .sect_2_container{
  position: relative;
  width: 74%;
  height: 505px;
  display: flex;
  top: 5%;
  left: 13%;
  background: #25D6C440;
  z-index: -1;
}
.sect_2_container .container_image{
  position: absolute;
  left: -15%;
  width: 50%;
  top: 1%;
}
.sect_2_container .container_content{
  position: absolute;
  left: 39%;
  top: 5%;
}
.container_content .content_text1{
  font-size: 37px;
  font-weight: 100;
  line-height: 80px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #333333;
}
.container_content .line{
  border-bottom: #000000 1px solid;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100px;

}
.container_content .content_text .text-2{
  font-size: 15px;
  font-weight: 100;
  line-height: 2;
  letter-spacing: 0.03em;
  text-align: left;
  padding-bottom: 15px;
  color: #333333;
}
.content_text .text-3{
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #333333;
}
.content_text .line-1{
  border-bottom: #333333 1px solid;
  margin-top: -5px;
  margin-bottom: 25px;
  width: 60px;

}
.content_box .box_container_1 .button3{
  height: 62px;
  width: 208px;
  background: #096C62;
  cursor: pointer;
  border: transparent;
  margin-top: 20px;
}
.box_container_1 .button3 a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px; 
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
}
.button3 a .fa-shopping-cart{
  margin-right: 10px;
  color: gainsboro;
}
.content_box .box_container_1 .button4{
  height: 62px;
  width: 140px;
  border: 2px solid #096C62;
  background: transparent;
  margin-left: 15px;
}
.box_container_1 .button4 a{
  text-decoration: none;
  color: #096C62;
  font-size: 25px;
  font-weight: 600; 
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: Nunito;
}
.button{
  position: absolute;
  left: 95%;
  margin-top: 15px;
  display: flex;
}
.button .button5{
  height: 60px;
  width: 60px;
  border: 2px solid #096C62;
  color: #096C62;
  background: transparent;
  font-size: 30px;
}
.button .button6{
  height: 60px;
  width: 60px;
  border: 2px solid #096C62;
  color: #FFFFFF;
  background: #096C62;
  font-size: 30px;
  margin-left: 15px;
}

/* WAY KAMBAS MINI EBONY ENDS HERE */

/* Non-Metal Starts here */

.sect_3{
  display: flex;
  position: relative;
  width: 70%;
  left: 15%;
  justify-content: space-between;
}
.sect_3 .sect_3_container{
  display: flex;
  width: 60%;
  height: 270px;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.1);
  margin-right: 30px;
  background: #FFFFFF;
}
.sect_3_container .text-4{
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 15px;
}
.sect_3_container .div-1{
  margin-top: 30px;
  margin-left: 20px;
}
.sect_3_container .div-1 .text-5{
  font-family: Nunito;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0em;
  text-align: left;
  color: #777777;
}
.sect_3_container .non_logo{
  position: absolute;
  top: 30%;
  left: 27%;
}
.sect_3_container .lines{
  margin-top: 30px;
}
.sect_3_container .lines_1{
  margin-top: 40px;
}
.sect_3_container .text-3{
  font-size: 13px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #333333;
}
.sect_3_container .line-1{
  border-bottom: #333333 1px solid;
  margin-top: -5px;
  margin-bottom: 25px;
  width: 80px;
}
/* Non-metal Ends Here */

#why-choose-us > .my_container,
footer > .my_container {
  display: flex;
  padding: 60px 0;
}

.my_container {
  margin: auto;
  position: relative;
  justify-content: space-evenly;
}

.image {
  position: relative;
  width: 50%;
  transform: translatex(20%);
  z-index: -1;
  margin-top: 70px;
}

.image svg {
  position: absolute;
  top: -37%;
}

.image svg:nth-child(2) {
  top: -22%;
}
.image svg:nth-child(3) {
  top: -7%;
}

.image div {
  position: absolute;
  width: 50%;
  height: 70%;
  bottom: 0;
}

.image img {
  width: 100%;
  height: 100%;
}

.image div:nth-child(2) {
  top: 20%;
  left: 15%;
  box-shadow: 2px 3px 5px 2px;
}

.bg {
  top: 0;
  width: 250px;
  height: 150px;
  z-index: -1;
  background: #25d6c440;
}

.write-up {
  font-size: 14px;
  width: 40%;
  margin: auto;
  transform: translatex(-20%);
}

.write-up h2 {
  position: relative;
  left: 0;
}

.carousel-inner > .item {
  width: 100%;
  height: 320px;
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out,
      -o-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .carousel-inner > .item.active.right,
  .carousel-inner > .item.next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }

  .carousel-inner > .item.active.left,
  .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }

  .carousel-inner > .item.active,
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: flex;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-control {
  position: absolute;
  bottom: 0;
  left: 9%;
  padding: 0 30px;
  font-size: 20px;
  color: #070707;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}

.carousel-control:focus,
.carousel-control:hover {
  font-size: xx-large;
  transform: translateY(10px);
  color: #000;
  text-decoration: none;
  outline: 0;
  filter: alpha(opacity=90);
  opacity: 0.9;
}

.carousel-indicators {
  position: absolute;
  bottom: -20%;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 1px;
  cursor: pointer;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 8px;
  height: 8px;
  margin: 0;
  background-color: #000000;
}

.side-text {
  font-size: 27px;
}

.side-text button {
  background: #028174;
  color: #dadada;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  font-size: 10px;
  cursor: pointer;
}

.light-green {
  color: #45aa35;
}

#why-choose-us .container {
  justify-content: space-evenly;
  gap: 30px;
}

.why-choose-us-cards-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  gap: 6px;
}

.why-choose-us-cards-container h4 {
  font-size: 17px;
}

.why-choose-us-cards-container p {
  font-size: 13px;
}

.why-choose-us-card img {
  width: 50px;
}

.footer-container {
  background: #096c62;
  color: #dadada;
  line-height: 1.6;
  overflow: hidden;
}

.footer-container svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-col  p span{
  z-index: 6; 
}

.footer-container svg:last-child {
  bottom: -7%;
}

.footer-col h4 {
  position: relative;
}

.footer-col-2 i {
  color: #096c62;
  background: #dadada;
  padding: 2px 7px;
  border-radius: 50%;
}

.footer-col-2 span {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-col-2 div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.footer-col-3 a,
.footer-col-4 a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
}

.line {
  position: absolute;
  top: 50%;
  width: 30%;
  max-width: 100px;
  border-top: 2px solid;
}
