::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Taviraj", serif;
}

nav {
  position: relative;
}

.navbar {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 16px;
  padding: 10px 50px 10px 20px;
}

.logo {
  display: inline-block;
}

.logo img {
  max-width: 200px;
}

.nav-link:hover {
  border-bottom: 3px solid #096c62;
}

.dropdown-menu:hover {
  opacity: 1;
}

.dropdown-menu {
  opacity: 0;
  display: flex;
  width: 100%;
  position: absolute;
  background-color: #f9f9f9;
  /* top: 100%; */
  left: 0;
  padding: 3% 5%;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  height: 200px;
  flex-direction: row;
  border-radius: 0;
  border: 0;
  pointer-events: none;
}

.nav-item:hover .dropdown-menu {
  opacity: 1;
  pointer-events: all;
}

.menu-options {
  margin-left: 20%;
}

.options {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
  color: #000;
}

.options li {
  margin-bottom: 10px;
  width: 300px;
}

.options li a {
  text-decoration: none;
  color: #000;
  transition-duration: 300ms;
}
.options li a:hover {
  font-size: 1.2rem;
  color: #096c62;
}

div .col {
  padding: 0;
}

/* WAY KAMBAS MINI EBONY STARTS HERE */

.sect_2 {
  width: 100%;
  height: 100vh;
}
.sect_2 .sect_2_container {
  position: relative;
  width: 74%;
  height: 505px;
  display: flex;
  top: 5%;
  left: 13%;
  background: #25d6c440;
  z-index: -1;
}
.sect_2_container .container_image {
  position: absolute;
  left: -15%;
  width: 50%;
  top: 1%;
}
.sect_2_container .container_content {
  position: absolute;
  left: 38%;
  top: 5%;
  padding-top: 20px;
}
.container_content .content_text1 .text-1 {
  font-family: taviraj;
  font-size: 3.5rem;
  font-weight: 200;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #333333;
}
.container_content .line {
  border-bottom: #333333 1px solid;
  margin-top: 2.5rem;
  margin-bottom: 5px;
  width: 100px;
}
.container_content .content_text .text-2 {
  font-size: 15px;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
  padding-bottom: 30px;
  color: #333333;
}
.content_text .text-3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #333333;
}
.content_text .line-1 {
  border-bottom: #333333 1px solid;
  margin-top: -10px;
  margin-bottom: 25px;
  width: 60px;
}
.content_box .box_container_1 .button3 {
  height: 62px;
  width: 208px;
  background: #096c62;
  cursor: pointer;
  border: transparent;
  margin-top: 20px;
}
.box_container_1 .button3 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.02em;
  text-align: left;
}
.button3 a .fa-shopping-cart {
  margin-right: 10px;
  color: gainsboro;
}
.content_box .box_container_1 .button4 {
  height: 62px;
  width: 140px;
  border: 2px solid #096c62;
  background: transparent;
  margin-left: 15px;
}
.box_container_1 .button4 a {
  text-decoration: none;
  color: #096c62;
  font-size: 25px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: Nunito;
}
.button {
  position: absolute;
  left: 85%;
  margin-top: 30px;
  display: flex;
}
.button .button5 {
  height: 60px;
  width: 60px;
  border: 2px solid #096c62;
  color: #096c62;
  background: transparent;
  font-size: 30px;
}
.button .button6 {
  height: 60px;
  width: 60px;
  border: 2px solid #096c62;
  color: #ffffff;
  background: #096c62;
  font-size: 30px;
  margin-left: 15px;
}

/* WAY KAMBAS MINI EBONY ENDS HERE */

/* Non-Metal Starts here */

.sect_3 {
  display: flex;
  position: relative;
  width: 70%;
  left: 15%;
  justify-content: space-between;
}
.sect_3 .sect_3_container {
  display: flex;
  width: 60%;
  height: 270px;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.2);
  margin-right: 30px;
  background: #ffffff;
}
.sect_3_container .text-4 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 15px;
}
.sect_3_container .div-1 {
  margin-top: 30px;
  margin-left: 20px;
}
.sect_3_container .div-1 .text-5 {
  font-family: Nunito;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0em;
  text-align: left;
  color: #777777;
}
.sect_3_container .non_logo {
  position: absolute;
  top: 35%;
  left: 27%;
}
.sect_3_container .lines {
  margin-top: 30px;
}
.sect_3_container .lines_1 {
  margin-top: 40px;
}
.sect_3_container .text-3 {
  font-size: 13px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #333333;
}
.sect_3_container .line-1 {
  border-bottom: #333333 1px solid;
  margin-top: -5px;
  margin-bottom: 25px;
  width: 80px;
}
/* Non-metal Ends Here */

.my_container {
  margin: auto;
  position: relative;
  padding: 60px 30px;
  justify-content: space-evenly;
}

/* CAROUSEL CSS */
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out,
      -o-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .carousel-inner > .item.active.right,
  .carousel-inner > .item.next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }

  .carousel-inner > .item.active.left,
  .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }

  .carousel-inner > .item.active,
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: flex;
  flex: 1;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-control {
  display: inline-block;
  margin-left: 10%;
  font-size: 20px;
  color: #070707;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
}

.right {
  margin-left: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

.carousel-control:focus,
.carousel-control:hover {
  font-size: xx-large;
  transform: translatey(10%);
  color: #000;
  text-decoration: none;
  outline: 0;
  filter: alpha(opacity=90);
  opacity: 0.9;
}

.carousel-indicators {
  position: absolute;
  bottom: -12%;
  left: 50%;
  width: 60%;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 1px;
  cursor: pointer;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 0;
  background-color: #000000;
}

/* TESTOMONIALS SECTION */
.image {
  position: relative;
  width: 50%;
  transform: translatex(20%);
  z-index: -1;
}

.image > span {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
}

.image svg {
  transform: translate(-15%);
}

.image svg:nth-child(2) {
  transform: translate(-15%, -50%);
  top: -22%;
}

.image svg:nth-child(3) {
  transform: translate(-15%, -100%);
}

.image div {
  position: absolute;
  width: 50%;
  height: 70%;
  bottom: 0;
}

.image img {
  width: 100%;
  height: 100%;
}

.image div:nth-child(2) {
  top: 20%;
  left: 15%;
}

.bg {
  top: 0;
  width: 250px;
  height: 150px;
  z-index: -1;
  background: #25d6c440;
}

.write-up {
  font-size: 14px;
  width: 40%;
  margin: auto;
  height: 270px;
  overflow: scroll;
  transform: translatex(-20%);
}

.write-up h2 {
  position: relative;
  left: 0;
}

@media screen and (max-width: 540px) {
  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
    flex-direction: column;
  }

  .carousel-indicators {
    top: 105%;
  }

  .image {
    transform: none;
    width: 100%;
  }

  .image div:first-of-type {
    position: static;
    width: 100%;
    height: 250px;
    margin-bottom: 2rem;
  }
  .image div:last-of-type {
    display: none;
  }

  .image > span {
    display: none;
  }

  .write-up {
    width: 100%;
    transform: none;
  }
}

/* ABOUT US SECTION */
#about-us .my_container {
  display: flex;
  padding-top: 0;
  gap: 2.5rem;
}

#about-us h2 {
  text-decoration: underline;
  text-align: center;
  color: #096c62;
  /* margin-bottom: -10%; */
  padding: 1rem;
  /* background: #000; */
}

.light-green {
  color: #45aa35;
}

.side-text {
  width: 30%;
  font-size: 2rem;
}

.side-text button {
  background: #028174;
  color: #dadada;
  padding: 5% 15%;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
}

.about-us-cards-container {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  gap: 5%;
}

.about-us-cards-container h4 {
  font-size: 17px;
}

.about-us-cards-container p {
  font-size: 13px;
}

.about-us-card img {
  width: 50px;
}

/* FOOTER */
.footer-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  position: relative;
  overflow: hidden;
  background: #096c62;
  color: #dadada;
  line-height: 1.6;
  gap: 2rem;
}

@media screen and (min-width: 500px) and (max-width: 920px) {
  .footer-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 499px) {
  .footer-container {
    grid-template-columns: auto;
  }
}

.footer-container > span {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footer-container > span:first-of-type {
  bottom: 0;
  left: 0;
}

.footer-container > span:last-of-type {
  top: 0;
  right: 0;
}

.footer-container > span:first-of-type svg:first-of-type {
  transform: translateY(50%);
}

.footer-container > span:last-of-type svg:last-of-type {
  transform: translateY(-55%);
}

.footer-col {
  z-index: 2;
}

.footer-col h4 {
  position: relative;
}

.footer-col-2 i {
  color: #096c62;
  background: #dadada;
  padding: 2px 7px;
  border-radius: 50%;
}

.footer-col-2 span {
  display: flex;
  justify-content: space-between;
}

.footer-col-2 span p:last-of-type {
  justify-self: center;
}

.footer-col-2 div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.footer-col-3 a,
.footer-col-4 a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
}

.line {
  position: absolute;
  top: 50%;
  width: 30%;
  max-width: 100px;
  border-top: 2px solid;
}

@media screen and (max-width: 700px) {
  .side-text {
    display: none;
  }
}

/********** Isaac CSS **********/
:root {
  --primary: #096c62;
  --secondary: #777777;
  --light: #f8f8f8;
  --dark: #252525;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

** Button ** .btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary {
  color: #ffffff;
  background-color: #096c62;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/*** Img Border ***/
.img-border {
  position: relative;
  height: 100%;
  min-height: 400px;
}

.img-border::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 3rem;
  bottom: 3rem;
  border: 5px solid var(--primary);
  border-radius: 6px;
}

.img-border img {
  position: absolute;
  top: 3rem;
  left: 3rem;
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  object-fit: cover;
  border-radius: 6px;
}

/*** Team ***/

.team-item .team-text {
  position: relative;
  height: 65px;
  overflow: hidden;
}

.team-item .team-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.team-item:hover .team-title {
  top: -65px;
}

.team-item .team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 65px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  transition: 0.5s;
}

.team-item .team-social .btn {
  margin: 0 3px;
}

.team-item:hover .team-social {
  top: 0;
}



.dental-product{
  margin-top: 4%;
  margin-left: 10%;
}
.dental-product hr{
  margin-top: -0.3rem;
  width: 9%;
}
.dental-product h3{
  font-weight: 300;
  font-size: 2rem;
}

/* Dental supplies */
.product{
  padding-top: 2%;
  display: flex;
  position: relative;
  left: 10%;
}
.product-box{
  margin-top: 2%;
  background-color: #f9f9f9;
  margin-right: 45px;
  width: 15%;
  padding-top: 100px;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.2);
  transition-duration: 0.5s;
}
.product-box:hover{
  transform: scale(1.1);
}
.product-box:hover .product-cart{
  opacity: 1;
}
.product-box:hover #product-like{
  opacity: 1;
}
.product-image{
  margin-top: -80%;
  width: 150px;
  height: 180px;
  background: transparent;
  padding-bottom: 2rem;
  padding-left: 35px;
}
.product-box h5{
  background-color: transparent;
  font-size: 1em;
  padding-left: 10%;
  padding-top: 3%;
}
.product-box p{
  background-color: transparent;
  font-size: 0.8em;
  padding-left: 10%;
  padding-top: 3%;
}
.product-box i{
  background-color: transparent;
  font-size: 0.8em;
  padding-left: 10%;
}
#product-like{
  border: 2px solid #6bdbc9;
  padding: 0.1rem;
  margin: 1rem 0rem 0.5rem 1rem;
  color: #6bdbc9;
  font-size: 1.2rem;
  opacity: 0;
  transition-duration: 0.5s;
}
.product-cart{
  position: relative;;
  bottom: 1%;
  background-color: #096c62;
  color: #ffffff;
  border: none;
  width: 100px;
  padding: 0.2rem;
  font-size: 0.9rem;
  opacity: 0;
  transition-duration: 0.5s;
}


/* Recommended Topics */
.topics{
  margin-top: 3%;
  width: 100%;
  height: 200%;
  display: flex;
}
.topic-txt{
  height: inherit;
  width: 30%;
}
.topic-txt hr{
  width: 40%;
}
.topic-txt p{
  padding-top: 40%;
}
.topic-txt h5{
  padding-top: 4%;
  font-weight: 400;
  font-size: 32px;
}
.topics img{
  background: transparent;
  position: relative;
  top: 5%;
  right: 32%;
  z-index: 1;
  width: 90%;
  height: 105%;
}
.topic-image{
  position: absolute;
  top: 270%;
  left: 55%;
  height: 40%;
  width: 30%;
  background-color: #c0ece7;
}
.topic-button{
  padding: 4%;
  text-align: center;
  place-items: center;
  border: 2px solid #7EAFAA;
  color: #7EAFAA;
  height: 3.5rem;
  width: 60%;
}